@import "assets/styles/_common.scss";

.App {
  text-align: center;
  @include make-container();
  @include make-container-max-widths();
}

.App-container {
  @include make-row();
}

.App-logo {
  height: 60px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
  padding-top: 15px;
  text-transform: uppercase;
}

.App-intro {
  font-size: medium;
}

.App-header {
  @include make-col-ready();
  @include make-col(12);
  order: 0;
  border-bottom: 1px solid theme-color("primary");
  margin-bottom: 15px;
}

.App-sidebar {
  order: 1;
  @include make-col-ready();
  @include make-col(2);
}

.App-main {
  order: 2;
  @include make-col-ready();
  @include make-col(10);
}